mixin sidebar()
    nav.sidebar 
        ul  
            li.nav-item 
                a(href="/admin") Home 
            li.nav-item 
                a(href="/admin/leaderboard") View Leaderboard
            li.nav-item
                a(href="/admin/createEvent") Create Event
            li.nav-item
                a(href="/admin/createStudent") Create Student            
            li.nav-item
                a(href="/admin/generateReport") Generate Report
            li.nav-item
                a(href="/admin/helpMenu") Help Menu