//creates a form with these elements
//class class_name field


form(method='POST' action='')

  div(class="loginBox")
    h2 Class Name
        input(
        type="text", 
        name="className", 
        value=className
        placeholder = 'Enter in Class Name'
     )

    
 

  


