extends layout

block content


    table
        thead
          th name 
          th grade
          th age
        tbody
          each student in students
            tr
              td #{students.name}
              td #{students.grade}
              td #{students.age}
      
 
