extends layout

block content
  h1 Login
  p Welcome to #{title}

  h2 Email
  input.search(
    type = 'email'
    name = 'emaillogin'
    placeholder = 'Enter in email'
  )
  p Remember Password  
  input(type='checkbox' checked=false)

  a(class={active: currentUrl === '/'} href='/') Student Login

  a(class={active: currentUrl === '/'} href='/') Teacher Login


